<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for  <strong>{{price_from_form}}</strong></p>
        <p>You have ordered <strong>{{quantity_ordered}}</strong> items so far and spent <strong>{{total_price}}</strong> with Amadon.com!</p>
        <p><a href="delete" class="btn btn-primary">Go Back</a></p>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
