
*{
    margin: 0;
    padding: 0;
}
.allshowheader{
    margin: 20px;
    margin-left: 50%
}

#tableallshow{
    margin: 20px;
    margin-left: 20%
}

.allshowfooter{
    margin: 20px;
    margin-left: 50%
}

.create{
    box-shadow: 4px 4px 4px black;
}

textarea{
    height: 50px;
}