<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}!</h1>
    <a href="/">Log Out</a>
    
    <form action="{{book.id}}/edit" method="POST">
        <textarea name="edittitle">{{book.title}}</textarea>
        <h3>Added by: {{user.first_name}} {{user.last_name}}</h3>
    <h3>Added on: {{book.created_at}}</h3>
    <h3>Last Updated on: {{book.updated_date}}</h3>
    <table>
        <tbody>
                <td><label for="desc">Description</label></td>
                <td><textarea name="editdesc" id="">{{book.desc}}</textarea></td>
            </tr>
        </tbody>
    </table>

    
        {% csrf_token %}
    <button>Update</button>
</form>
<form action="{{book.id}}/delete" method="POST">

    {% csrf_token %}
    <button>Delete</button>
</form>
    

    <h1>Users Who Like This Book</h1>
    {%for user in book.user.all%}
    <h3>{{first_name}} {{last_name}}</h3>
    {%if Favorite%}
    <a href="#">Un-Favorite</a>
    {%endif%}
    {%endfor%}

</body>
</html>