<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/shows/new" method="POST">
        {% csrf_token %}

    <h1>Add a New Show</h1>

    <div class="container" id="tableallshow">
        <table class="table">
        <tbody>
        <tr>
            <td><label for="">Title</label></td>
            <td><input type="text" name="title"></td>
            
            
            
        </tr>

        <tr>
            <td><label for="">Network</label></td>
            <td><input type="text" name="network"></td>
            
        </tr>

        <tr>
            <td><label for="">Release Date</label></td>
            <td><input type="text" name="releasedate"></td>
            
        </tr>
                <tr>
                    <td><label for="">Description</label></td>
            <td><textarea id="" name="description"></textarea></td>
        </tr>
        </tbody>
        </table>
    </div>


    <button class="create">Create</button>

    </form>


</body>
</html>