<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/shows/{{show.id}}/edit" method="post">
        {% csrf_token %}
    <a href="/shows">Go Back</a>
    <h1>Edit New Show {{show.id}}</h1>

    <div class="container" id="tableallshow">
        <table class="table">
        <tbody>
        <tr>
            <td><label for="">Title</label></td>
            <td><input name="title" type="text" value="{{ show.title }}" ></td>
            
            
            
        </tr>

        <tr>
            <td><label for="">Network</label></td>
            <td><input name="network" type="text" value="{{ show.network }}"></td>
            
        </tr>

        <tr>
            <td><label for="">Release Date</label></td>
            <td><input name="releasedate" type="text" value="{{ show.releasedate }}"></td>
            
        </tr>
                <tr>
                    <td><label for="">Description</label></td>
            <td><textarea name="description" id="" >{{ show.description }}</textarea></td>
        </tr>
        </tbody>
        </table>
    </div>
 

    <button>Update</button><br>

    <a href="/shows/{{show.id}}">Go to Show</a>

    </form>
</body>
</html>