
        body {
            height: 500px;
            width: 500px;
            font-family:  cursive;
            background-color: #000000;
            text-align: center;
            margin-top: 100px;
            background-image: url('timee.jpg');
            background-size: 60% auto; 
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
        }
        /* h3 {
            font-size: 30px;
            color: #ffffff;
            text-decoration: underline;
            margin-left: 80px;
            text-shadow: 2px 2px  rgba(0, 0, 0, 0.3) !important;
        } */
        h1 {
            font-size: 25px;
            color: #ffffff;
            text-shadow: 4px 2px 1px rgb(0, 0, 0) !important;
        }
        div {
            padding: 10px;
            border-radius: 10px;
            background-color: #ffffff00;
            display: inline-block;
        }

        .mmm {
            padding: 10px;
            border-radius: 10px;
            background-color: #ffffff00;
            display: inline-block;
            margin-left: 100px;
            width: 500px;
            position: relative;
            bottom: -40px;
            left: 210px;
        }
 
