<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGround</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome!</h1>
    <div style="background-color: aquamarine; width: 100px; height: 100px; justify-content: center; align-items: center; margin: 10px 10px 10px 300px ; float: left;">.</div>
    <div style="background-color: aquamarine; width: 100px; height: 100px; justify-content: center; align-items: center; margin: 10px; float: left;">.</div>
    <div style="background-color: aquamarine; width: 100px; height: 100px; justify-content: center; align-items: center; margin: 10px; float: left;">.</div>

</body>
</html>